html{background:#8FBC8F;}

h1,h2 {text-align:center;font-family: Copperplate;}

img {height:400px; 
margin-left:25%;
border-radius:60%;}

ul.nav{position: fixed;
top:0;
width: 100%;
list-style-type: none; 
margin:0;
padding: 0;
overflow: hidden;
font-family: Copperplate Gothic Bold;}

li.nav {display: inline-block; 
float: none;
border-right: 1px solid #bbb;
background-color: black;}

li.nav: last-child {border-right: none;}

li.nav a {display: block;
color: white;
text-align:center;
padding: 14px 16px;
text-decoration: none;
float: right;
font-family: Copperplate}





