body{background-image: url("../images/VGimgbackground3.jpg");
background-attachment:fixed;
background-repeat:no-repeat;
background-size:100% 100%}

h1,h2 {text-align:center;
font-family: "Copperplate Gothic Light", sans-serif;}

div.heading{background-color:#8FBC8F;
padding:4px;
opacity:0.90;}

img.Splashimg {height:400px; 
display:block;
margin-left:auto;
margin-right:auto;
border:3px solid black;
border-radius:60%;
}

ul.nav{
list-style-type:none; 
left:0px;
top:0px;
width:100%;
margin:0px;
padding:0px;
padding-left:0px;
float:none;
overflow: hidden;
background-color:black;
text-align: center;
font-family: "Copperplate Gothic Light", sans-serif;}

li.nav {display: inline-block; 
font-size: 20px;
background-color: black;}

li.nav a {display: block;
color: white;
text-align:center;
padding: 14px 16px;
text-decoration: none;
float: right;
font-family: "Copperplate Gothic Light", sans-serif;}

li.nav a:hover{
background-color: #8FBC8F;}

div.commonLicense{
   position: fixed;
    bottom: 0px;
    text-align: center;
    padding: 5px;
    margin: 0px;
    background-color: rgba(183, 166, 157, 1);
    width: 100%;
    font-family: "Georgia", sans-serif;
    font-size: 12px;
    opacity:0.85;
}
    
img.CC {

height:12px;
width:auto;}

div.w3-container{background-color:#8FBC8F;;
    margin-left: 5%;
    margin-right: 5%;
    padding: 20px;
    box-sizing: border-box;
    margin: 2%;
    color: #060202;
    font-family: "Georgia", sans-serif;
    font-size: 16px;
    overflow: auto;
    opacity: 0.90;}
    
 .dropbtn{
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    float: left;
    font-size: 24px;
    font-weight: bold;
    font-family: "Copperplate Gothic Light", sans-serif;
    display: inline-block;
    float: none;
    text-decoration: none;
}

.dropdown{
    position: relative;
    display: inline-block;
    font-family: "Copperplate Gothic Light", sans-serif;
    text-decoration:none;
}

.dropdown-content{
    display: none;
    position: absolute;
    background-color: rgba(183, 166, 157, 1.0);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    text-decoration:none;
}

.dropdown-content a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-decoration:none;
}
.dropdown a:visited{
    color: white;
   text-decoration:none;
}
.dropdown-content a:hover{
    background-color: #f1f1f1
}

.dropdown:hover .dropdown-content{
    display: block;
}

/* johnc bars */  
rect.JohnCharringtonsWedding {
    background-color: red;
}
rect.TheShadowintheCorner {
    background-color: blue;
}
rect.TheOldHouseinVauxhallWalk {
    background-color: orange;
}
rect.Walnut-TreeHouse {
    background-color: pink;
}
rect.TheOldNursesStory {
    background-color: green;
}
table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}