body{background-image: url("../images/VGimgbackground3.jpg");
background-attachment:fixed;
background-repeat:no-repeat;
background-size:100% 100%}

h1,h2 {text-align:center;
font-family: "Copperplate Gothic Light", sans-serif;}

div.heading{background-color:#8FBC8F;
padding:4px;
opacity:0.90;}

img.Splashimg {height:400px; 
display:block;
margin-left:auto;
margin-right:auto;
border:3px solid black;
border-radius:60%;
}

ul.nav{
list-style-type:none; 
left:0px;
top:0px;
width:100%;
margin:0px;
padding:0px;
padding-left:0px;
float:none;
overflow: hidden;
background-color:black;
text-align: center;
font-family: "Copperplate Gothic Light", sans-serif;}

li.nav {display: inline-block; 
font-size: 20px;
background-color: black;}

li.nav a {display: block;
color: white;
text-align:center;
padding: 14px 16px;
text-decoration: none;
float: right;
font-family: "Copperplate Gothic Light", sans-serif;}

li.nav a:hover{
background-color: #8FBC8F;}

div.commonLicense{
   position: fixed;
    bottom: 0px;
    text-align: center;
    padding: 5px;
    margin: 0px;
    background-color: rgba(183, 166, 157, 1);
    width: 100%;
    font-family: "Georgia", sans-serif;
    font-size: 12px;
    opacity:0.85;
}
    
img.CC {

height:12px;
width:auto;}

div.w3-container{background-color:#8FBC8F;;
    margin-left: 5%;
    margin-right: 5%;
    padding: 20px;
    box-sizing: border-box;
    margin: 2%;
    color: #060202;
    font-family: "Georgia", sans-serif;
    font-size: 16px;
    overflow: auto;
    opacity: 0.90;}
    

/* johnc bars  
rect.JohnCharringtonsWedding {
    fill: red;
}
rect.TheShadowintheCorner {
    fill: blue;
}
rect.TheOldHouseinVauxhallWalk {
    fill: orange;
}
rect.Walnut-TreeHouse {
    fill: pink;
}
rect.TheOldNursesStory {
    fill: green;
}*/
table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
}

<<<<<<< HEAD
<<<<<<< HEAD
/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #8FBC8F}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

svg {
  background-color: beige;
  }
  
/* johnc bars */  
rect.JohnCharringtonsWedding {
    fill: red;
}
rect.TheShadowintheCorner {
    fill: blue;
}
rect.TheOldHouseinVauxhallWalk {
    fill: orange;
}
rect.Walnut-TreeHouse {
    fill: pink;
}
rect.TheOldNursesStory {
    fill: green;
}
table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}


=======
.dropdown:hover .dropdown-content{
    display: block;
}
>>>>>>> origin/master
=======
tr:nth-child(even){background-color: #f2f2f2}
>>>>>>> e4da7edde2bf41ee65875599994dec402bc44741
