body{background-image: url("../images/VGimgbackground3.jpg");
background-attachment:fixed;
background-repeat:no-repeat;
background-size:100% 100%}

h1,h2 {text-align:center;
font-family: "Copperplate Gothic Light", sans-serif;}

div.heading{background-color:#8FBC8F;
padding:4px;
}

img.Splashimg {height:400px; 
margin-left:25%;
border:3px solid black;
border-radius:60%;
}

ul.nav{
list-style-type:none; 
margin:0;
padding: 0;
overflow: hidden;
background-color:black;
text-align: center;
font-family: "Copperplate Gothic Light", sans-serif;}

li.nav {display: inline-block; 
font-size: 20px;
background-color: black;}

li.nav a {display: block;
color: white;
text-align:center;
padding: 14px 16px;
text-decoration: none;
float: right;
font-family: "Copperplate Gothic Light", sans-serif;}

li.nav a:hover{
background-color: #8FBC8F;}

div.commonLicense{
    text-align: center;
    padding: 3px;
    margin: 0px;
    background-color: rgba(183, 166, 157, 1);
    width: 100%;
    font-family: "Georgia", sans-serif;
    font-size: 14px;}
    
img.CC {
max-width: 2%;
height:auto;
width:auto;}

div.w3-container{background-color:#8FBC8F;;
    margin-left: 5%;
    margin-right: 5%;
    padding: 20px;
    
    
    box-sizing: border-box;
    margin: 2%;
    color: #060202;
    font-family: "Georgia", sans-serif;
    font-size: 16px;
    overflow: auto;}




